{{! This is a custom template page associated to the /projects static page.}}
{{! If you want to have something similar, make sure you modify its content.}}

{{!< default}}

<main role="main">
    <article class="{{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">

        {{#post}}
        <h1 class="post-title">{{title}}</h1>

        {{! Here goes the description of the projects static page. The content of the post is used for this. }}
        <section class="post-content projects-content">
            {{content}}
        </section>

        {{! Here go the static pages. Make sure you modify the links of the pages and their titles. }}
        <div class="project-page">
            <span class="project-title" itemprop="headline">
                <a href="http://pathhero.bencreasy.com?t=blog">
                    <span class="project-name">Path Hero</span>
                    <span class="project-description">Create scavenger hunts by clicking on a map, and then play that hunt in a responsive mobile interface which checks your geolocation. Built with ReactJS, Reflux, and Express/MongoDB. I handled the hunt creation platform, integration with the map, and reworked various parts of the server-side code.</span>
                </a>
            </span>
            <div class="pathhero">
                <a href="http://pathhero.bencreasy.com?t=blog"><img src={{asset "images/pathhero.png"}}/></a>
            </div>
        </div>
        <div class="project-page">
            <span class="project-title" itemprop="headline">
                <a href="https://careful-harmonica.firebaseapp.com/#/land?t=blog">
                    <span class="project-name">Jobby Rogers</span>
                    <span class="project-description">Gamifying the job hunt! Rack up points by finding and applying to employers. Built with AngularJS and Firebase and using Angular Material and Bourbon for styling. I played a strong part in this project, creating views and controllers, handling authentication and much of Firebase data flow, and adding HTML5 file upload.</span>
                </a>
            </span>
            <div class="jobbyrogers">
                <a href="https://careful-harmonica.firebaseapp.com/#/land?t=blog"><img src={{asset "images/jobbyrogers.png"}}></a>
            </div>
        </div>        
        <div class="project-page">
            <span class="project-title" itemprop="headline">
                <a href="http://asteroids.bencreasy.com">
                    <span class="project-name">Asteroids</span>
                    <span class="project-description">I built this D3 and SVG game based on traditional arcade games in a day of hacking. You can move your ship around with the mouse (press down) and then hit spacebar to shoot lasers and destroy the incoming asteroids. Laser speed and game difficulty are adjustable as well. </span>
                </a>
            </span>
        <div class="asteroids">
          <object class="embedded" data="http://asteroids.bencreasy.com" type="image/svg+xml" style="height: 450px; width: auto">
            Sorry, this did not seem to load.
          </object>
        </div>
        </div>

         <footer class="post-footer">
            <section class="share">
                <h4 class="post-share">Share this page</h4>
                <ul>
                    <li><a href="https://plus.google.com/share?url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <i class="icon icon-gplus"></i>
                    </a></li>
                    <li><a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <i class="icon icon-twitter"></i>
                    </a></li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <i class="icon icon-facebook"></i>
                    </a></li>
                </ul>
           </section>
        </footer>
        {{/post}}

    </article>
</main>
